body {
	background: #2d3436;
	width: 100%;
	display: flex;
	justify-content: center;
}

.App {
	display: flex;
	margin-top: 10%;
	width: 600px;
	max-width: 100vh;
	flex-direction: column;
	overflow: hidden;
}

.tittle {
	text-align: center;
	color: #ffffff;
}
